body{
    background: #013A6B;
    background-image: -webkit-linear-gradient(45deg, #7ED957 20%, #004E71 70%);
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.navbar img {
    width: 45px;
    height: 45px;
    margin: 5px;
    padding: 0;
}

.head_container{
    display: grid;
    align-items: center;
    color: #CAF7FF;
    text-align: center;
    width: 100%;
}

.head_container img{
    position: relative;
    width: 60%;
    height: 100%;
    align-items: center;
    border-radius: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
}

body > .row >.column_left {
    color: #CAF7FF;
    height: 100%;
    width: 70%;
    float: left;
    padding: 10px 60px 0px 20px;
}

.column_left h2{
    position: relative;
    padding-top: 20px;
    text-align: center;
    color: #7ED957;
}

.column_left h3{
    position: relative;
    padding-top: 20px;
    text-align: center;
    color: #7ed957;
}

.column_left img{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body > .row > .column_right {
    color: #CAF7FF;
    opacity: 1;
    width: 30%;
    float: right;
    padding: 10px 20px 0 20px;
}

.container__image {
    align-items: center;
}

.container__image img {
    display: grid;
    position:relative;
    width:250px;
    height:200px;
    border-radius:50%;
}

footer {
    color: #006EB6;
}